<!-- logout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Déconnexion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/log.css' %}">
</head>
<body>
    <div class="logout-container">
        <h2>Déconnexion</h2>
        <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
        <form method="POST" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit" class="submit-button">Déconnexion</button>
        </form>
        <p><a href="{% url 'account_login' %}">Annuler</a></p>
    </div>
</body>
</html>
